@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $common-font;
    font-style: normal;
}

html {
    width: 100%;
}

body {
    width: 100%;
}

.container {
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;

    header {
        padding-top: 66px;
        margin-bottom: 50px;

        .headercontainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .linkline {
                display: flex;
                flex-direction: row;

                nav {
                    display: flex;
                    gap: 64px;

                    .nav-link {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 27px;
                        color: $firstfontcolor;
                        text-decoration: none;
                    }
                }
            }

            .line {
                border: 1px solid $fourthfontcolor;
                transform: rotate(180deg);
                margin-left: 48px;
                margin-right: 48px;
            }

            .logo {
                width: 158px;
            }



            .icons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 39px;

                button {
                    width: 20px;
                    border: none;
                    background-color: transparent;
                }
            }

            .buttons {
                display: none;

                .mobile-only {
                    display: none;
                }
            }

        }

        .input-group {
            display: none;

            .mobile-only {
                display: none;
            }

        }

        .header-ended-line {
            width: 100%;
            border: 1px solid $line-color;
            margin-top: 17px;
        }
    }

    .hero-container {
        .subhead {
            text-align: center;
            font-weight: 500;
            font-size: 33px;
            color: $firstfontcolor;
            margin-top: 96px;
        }

        .slider-part {
            display: flex;
            flex-direction: row;
            margin-top: 64px;
            align-items: center;

            button {
                display: none;
            }
        }

        nav {
            display: flex;
            flex-direction: row;
            gap: 49px;
            font-weight: 400;
            font-size: 20px;

            .nav-link-1 {
                text-decoration: none;
                color: $firstfontcolor;
            }

            .nav-link {
                text-decoration: none;
                color: $fourthfontcolor;
            }

            .nav-link-visible {
                text-decoration: none;
                color: $fourthfontcolor;
            }
        }



        .header-ended-line {
            width: 100%;
            border: 1px solid $line-color;
            margin-top: 34px;
        }

    }

    .text-part {
        display: flex;
        flex-direction: column;
        margin-top: 73px;
        font-weight: 400;
        font-size: 16px;

        .first-rows {
            display: flex;
            flex-direction: row;

            .text {
                color: $firstfontcolor;
            }

            nav {
                .nav-link {
                    text-decoration: none;
                    color: $secondfontcolor;
                    margin-left: 5px;
                }
            }
        }

        .second-rows {
            display: flex;
            flex-direction: row;

            .part-of-text {
                display: flex;
                flex-direction: row;
            }

            .text {
                color: $firstfontcolor;
            }

            nav {
                .nav-link {
                    text-decoration: none;
                    color: $secondfontcolor;
                    margin-left: 5px;
                }
            }
        }
    }

    .footer-section {
        margin-top: 208px;

        .first-footer-line {
            width: 100%;
            border: 1px solid $line-color;
            margin-top: 253px;
        }

        .first-footer-part {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 53px;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: $fourthfontcolor;


            nav {
                display: flex;
                flex-direction: row;
                gap: 41px;

                .nav-link {
                    color: $fourthfontcolor;
                    text-decoration: none;
                }
            }

            .emailpart {
                display: flex;
                flex-direction: row;
                gap: 128px;

                button {
                    width: 25px;
                    border: none;
                    background-color: transparent
                }
            }
        }

        .lineitem {
            width: 100%;
            border: 0.1px solid $firstfontcolor;
            margin-top: 7px;
            display: flex;
            position: relative;
            right: 0%;

        }

        .input-group-2 {
            display: none;

        }

        .second-footer-part {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 47px;

            .ended-part {
                display: flex;
                flex-direction: row;
            }

            .mobile-only {
                display: none;
            }

            .icons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 30px;

                button {
                    width: 19px;
                    border: none;
                    background-color: transparent
                }
            }

            .text {
                display: flex;
                flex-direction: row;
                font-size: 16px;
                line-height: 27px;
                font-weight: 400;
                gap: 5px;

                nav {
                    .nav-link {
                        color: $fourthfontcolor;
                        text-decoration: none;
                    }
                }

                .textbold {
                    font-weight: 500;
                    color: $firstfontcolor;
                }

            }
        }

    }
}

@media (max-width: 375px) {
    .container {
        max-width: 288px;

        header {
            margin-bottom: 10px;
            padding-top: 0;

            .headercontainer {
                margin-top: 15px;
                padding-top: 0;
                margin-bottom: 0;

                .logo {
                    width: 99px;
                    height: 36px;
                }

                .linkline {
                    display: none;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 17px;

                    .mobile-only {
                        display: block;
                        background-color: transparent;
                        border: none;
                    }

                }
            }

            .input-group {
                display: flex;
                flex-direction: row;
                margin-top: 9px;
                width: 100%;
                height: 32px;
                gap: 8px;
                background: #EFEFEF;
                border-radius: 4px;
                padding-left: 10px;

                .mobile-only {
                    display: block;
                    border: none;
                    outline: none;
                    font-weight: 400;
                    font-size: 14px;
                    color: $fourthfontcolor;
                    background-color: transparent;
                }
            }
        }

        .hero-container {
            .subhead {
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                margin-top: 39px;
            }

            .slider-part {
                margin-top: 24px;

                button {
                    display: flex;
                    border: none;
                    background-color: transparent;

                    img {
                        margin-left: 6px;
                    }

                }


                nav {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 27px;
                    gap: 24px;
                    margin-left: 7.34px;

                    .nav-link-visible {
                        display: none;
                    }
                }



            }

            .header-ended-line {
                margin-top: 16px;
            }
        }

        .text-part {
            margin-top: 39px;
            font-size: 12px;

            .second-rows {
                display: flex;
                flex-direction: column;
                font-size: 12px;

                .part-of-text {
                    display: flex;
                    flex-direction: row;
                    gap: 3px;
                }

                nav {
                    .nav-link {
                        margin-left: 0;
                    }

                }
            }
        }
        .footer-section {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 70px;
            .lineitem {
                width: 100%;
                left: 0;
                right: 0;
            }
            .input-group-2 {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 12px;
                line-height: 20px;
                margin-top: 16px;
            }
            .first-footer-line {
                display: none;
            }
            .first-footer-part {
                flex-direction: column-reverse;
                gap: 40px;
                margin-top: 94px;
                font-size: 12px;
                line-height: 20px;
                .emailpart {
                    gap: 80px;
                    button img {
                        width: 15px;
                    }
                }
                nav {
                    flex-direction: column;
                    gap: 8px;
                }
            }
             .second-footer-part {
                flex-direction: column-reverse;
                font-size: 12px;
                line-height: 20px;
                .text {
                    font-size: 12px;
                    line-height: 20px;
                    margin-top: 36px;
                }
                .mobile-only {
                    display: flex;
                }
                .icons {
                    gap: 16.33px;
                    button img {
                        width: 12px;
                        height: 12px;
                    }
                
                }
                .ended-part {
                    width: 100%;
                    justify-content: space-between;
                    margin-top: 32px;
                }
            }
        
        }
    
    }
}