* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

html {
  width: 100%;
}

body {
  width: 100%;
}

.container {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
}
.container header {
  padding-top: 66px;
  margin-bottom: 50px;
}
.container header .headercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container header .headercontainer .linkline {
  display: flex;
  flex-direction: row;
}
.container header .headercontainer .linkline nav {
  display: flex;
  gap: 64px;
}
.container header .headercontainer .linkline nav .nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;
}
.container header .headercontainer .line {
  border: 1px solid #707070;
  transform: rotate(180deg);
  margin-left: 48px;
  margin-right: 48px;
}
.container header .headercontainer .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 39px;
}
.container header .headercontainer .icons button {
  width: 20px;
  border: none;
  background-color: transparent;
}
.container .hero-container {
  display: flex;
  flex-direction: row;
  margin-top: 113px;
  gap: 39px;
}
.container .hero-container .first-hero-part .subhead {
  font-weight: 500;
  font-size: 33px;
  color: #000000;
}
.container .hero-container .first-hero-part .input-form {
  display: flex;
  flex-direction: row;
  margin-top: 36px;
}
.container .hero-container .first-hero-part .input-form .input-field {
  width: 261px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #D8D8D8;
  outline: none;
  padding: 8px 0;
  font-weight: 400;
  font-size: 16px;
  color: #707070;
}
.container .hero-container .first-hero-part .input-form button {
  background-color: transparent;
  border: none;
  width: 19px;
  margin-left: -20px;
}
.container .hero-container .first-hero-part .categories {
  margin-top: 62px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-bottom: 22px;
}
.container .hero-container .first-hero-part nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .hero-container .first-hero-part nav .nav-link {
  color: #707070;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}
.container .hero-container .second-hero-part {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.container .hero-container .second-hero-part .boxes-part {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.container .hero-container .second-hero-part .boxes-part .date {
  font-weight: 400;
  font-size: 14px;
  color: #707070;
  margin-top: 22px;
}
.container .hero-container .second-hero-part .boxes-part .subhead {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin-top: 5px;
}
.container .hero-container .second-hero-part .boxes-part .text {
  font-weight: 400;
  font-size: 16px;
  color: #707070;
  margin-top: 14px;
}
.container .hero-container .second-hero-part .boxes-part nav {
  margin-top: 24px;
}
.container .hero-container .second-hero-part .boxes-part nav .nav-link {
  text-decoration: none;
  color: #A18A68;
  font-weight: 700;
  font-size: 16px;
}
.container .hero-container .buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.container .hero-container .buttons .first-button {
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  color: #ffffff;
}
.container .hero-container .buttons .next-button {
  background: #D8D8D8;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  color: #000000;
}
.container .footer-section {
  margin-top: 253px;
}
.container .footer-section .first-footer-line {
  width: 1248px;
  border: 1px solid #D8D8D8;
  margin-top: 253px;
}
.container .footer-section .first-footer-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 53px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #707070;
}
.container .footer-section .first-footer-part nav {
  display: flex;
  flex-direction: row;
  gap: 41px;
}
.container .footer-section .first-footer-part nav .nav-link {
  color: #707070;
  text-decoration: none;
}
.container .footer-section .first-footer-part .emailpart {
  display: flex;
  flex-direction: row;
  gap: 128px;
}
.container .footer-section .first-footer-part .emailpart button {
  width: 25px;
  border: none;
  background-color: transparent;
}
.container .footer-section .lineitem {
  width: 396px;
  border: 0.1px solid #000000;
  margin-top: 7px;
  display: flex;
  position: relative;
  left: 68.27%;
  right: 0%;
}
.container .footer-section .second-footer-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 47px;
}
.container .footer-section .second-footer-part .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.container .footer-section .second-footer-part .icons button {
  width: 19px;
  border: none;
  background-color: transparent;
}
.container .footer-section .second-footer-part .text {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  gap: 5px;
}
.container .footer-section .second-footer-part .text nav .nav-link {
  color: #707070;
  text-decoration: none;
}
.container .footer-section .second-footer-part .text .textbold {
  font-weight: 500;
  color: #000000;
}/*# sourceMappingURL=blog.css.map */