@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $common-font;
    font-style: normal;
}

html {
    width: 100%;
}

body {
    width: 100%;
}

.container {
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;

    header {
        padding-top: 66px;
        margin-bottom: 50px;

        .headercontainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .linkline {
                display: flex;
                flex-direction: row;

                nav {
                    display: flex;
                    gap: 64px;

                    .nav-link {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 27px;
                        color: $firstfontcolor;
                        text-decoration: none;
                    }
                }
            }

            .line {
                border: 1px solid $fourthfontcolor;
                transform: rotate(180deg);
                margin-left: 48px;
                margin-right: 48px;
            }



            .icons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 39px;

                button {
                    width: 20px;
                    border: none;
                    background-color: transparent;
                }


            }
        }
    }

    .hero-container {
        display: flex;
        flex-direction: row;
        margin-top: 113px;
        gap: 39px;

        .first-hero-part {
            .subhead {
                font-weight: 500;
                font-size: 33px;
                color: $firstfontcolor;
            }

            .input-form {
                display: flex;
                flex-direction: row;
                margin-top: 36px;

                .input-field {
                    width: 261px;
                    border-left: 0;
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 1px solid $line-color;
                    outline: none;
                    padding: 8px 0;
                    font-weight: 400;
                    font-size: 16px;
                    color: $fourthfontcolor;
                }

                button {
                    background-color: transparent;
                    border: none;
                    width: 19px;
                    margin-left: -20px;
                }
            }

            .categories {
                margin-top: 62px;
                font-weight: 500;
                font-size: 20px;
                color: $firstfontcolor;
                margin-bottom: 22px;
            }

            nav {
                display: flex;
                flex-direction: column;

                gap: 10px;

                .nav-link {
                    color: $fourthfontcolor;
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        .second-hero-part {
            display: flex;
            flex-direction: column;
            gap: 64px;

            .boxes-part {
                display: flex;
                flex-direction: row;
                gap: 48px;

                .date {
                    font-weight: 400;
                    font-size: 14px;
                    color: $fourthfontcolor;
                    margin-top: 22px;

                }

                .subhead {
                    font-weight: 400;
                    font-size: 20px;
                    color: $firstfontcolor;
                    margin-top: 5px;
                }

                .text {
                    font-weight: 400;
                    font-size: 16px;
                    color: $fourthfontcolor;
                    margin-top: 14px;
                }

                nav {
                    margin-top: 24px;

                    .nav-link {
                        text-decoration: none;
                        color: $secondfontcolor;
                        font-weight: 700;
                        font-size: 16px;

                    }
                }
            }

        }

        .buttons {
            display: flex;
            flex-direction: row;
            gap: 8px;
            font-weight: 400;
            font-size: 14px;
            position: relative;
            justify-content: center;
            align-items: center;
            .first-button {
                background: $firstfontcolor;
                border: 1px solid #FFFFFF;
                border-radius: 4px;
                width: 40px;
                height: 40px;
                color: $thirdfontcolor;
            }
            .next-button {
                background: $line-color;
                border: 1px solid $thirdfontcolor;
                border-radius: 4px;
                width: 40px;
                height: 40px;
                color:$firstfontcolor;
            }
        }
    }

    .footer-section {
        margin-top: 253px;

        .first-footer-line {
            width: 1248px;
            border: 1px solid $line-color;
            margin-top: 253px;
        }

        .first-footer-part {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 53px;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: $fourthfontcolor;


            nav {
                display: flex;
                flex-direction: row;
                gap: 41px;

                .nav-link {
                    color: $fourthfontcolor;
                    text-decoration: none;
                }
            }

            .emailpart {
                display: flex;
                flex-direction: row;
                gap: 128px;

                button {
                    width: 25px;
                    border: none;
                    background-color: transparent
                }
            }
        }

        .lineitem {
            width: 396px;
            border: 0.1px solid $firstfontcolor;
            margin-top: 7px;
            display: flex;
            position: relative;
            left: 68.27%;
            right: 0%;

        }

        .second-footer-part {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 47px;


            .icons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 30px;

                button {
                    width: 19px;
                    border: none;
                    background-color: transparent
                }
            }

            .text {
                display: flex;
                flex-direction: row;
                font-size: 16px;
                line-height: 27px;
                font-weight: 400;
                gap: 5px;

                nav {
                    .nav-link {
                        color: $fourthfontcolor;
                        text-decoration: none;
                    }
                }

                .textbold {
                    font-weight: 500;
                    color: $firstfontcolor;
                }

            }
        }
    }






}