@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $common-font;
    font-style: normal;
}

html {
    width: 100%;
}

body {
    width: 100%;
}

.container {
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;

    header {
        padding-top: 66px;
        margin-bottom: 50px;

        .headercontainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .linkline {
            display: flex;
            flex-direction: row;

            nav {
                display: flex;
                flex-direction: row;
                gap: 64px;

                .nav-link {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 27px;
                    color: $firstfontcolor;
                    text-decoration: none;
                }
            }
        }

        .line {
            border: 1px solid $fourthfontcolor;
            transform: rotate(180deg);
            margin-left: 48px;
            margin-right: 48px;
        }

        .logo {
            width: 158px;
        }

        .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 39px;

            button {
                width: 20px;
                border: none;
                background-color: transparent;
            }
        }

        .buttons {
            display: none;

            .mobile-only {
                display: none;
            }
        }

        .input-group {
            display: none;

            .mobile-only {
                display: none;
            }

        }



    }
}

.hero-container {
    width: 100%;
    height: 646px;
    background: url('./assests/Img 01.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;

    .hero-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding-top: 226px;
        padding-left: 44px;
        color: $thirdfontcolor;

        .about-section {
            padding-bottom: 16px;
            line-height: 43px;
            font-weight: 500;
            font-size: 33px;
        }

        .price {

            line-height: 35px;
            font-weight: 400;
            font-size: 26px;
            padding-top: 16px;
        }

        button {
            width: 193px;
            height: 53px;
            border: 2px solid $thirdfontcolor;
            border-radius: 6px;
            margin-top: 48px;
            font-weight: 700;
            font-size: 20px;
            background: transparent;
            color: $thirdfontcolor;
        }

    }

    .sliders {
        display: flex;
        flex-direction: row;
        padding-left: 570px;
        align-items: center;
        gap: 13.71px;
        padding-top: 170px;

    }

    button.ellipse-1 {
        width: 16px;
        height: 16px;
        border: 1px solid $thirdfontcolor;
        border-radius: 50%;
        background-color: transparent;

    }

    button.ellipse-2 {
        width: 9.14px;
        height: 9.14px;
        border-radius: 50%;
        border: 1px solid $thirdfontcolor;
        background-color: $thirdfontcolor;
    }
}

.subhead {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 64px;
    font-weight: 500;

    .shoplatest {

        line-height: 43px;
        font-size: 33px;
        color: $firstfontcolor;
    }

    nav {
        .nav-link {

            font-size: 20px;
            line-height: 26px;
            color: $secondfontcolor;
            text-transform: capitalize;
            text-decoration: none;
        }

    }
}

.catalog-section {
    display: flex;
    flex-direction: column;
    gap: 79px;
    margin-top: 39px;
    width: 100%;

    img {
        height: 380px;
        object-fit: cover;
        width: 100%;
    }

    nav {
        margin-top: 24px;

        .catalog-element {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            color: $firstfontcolor;
            text-decoration: none;
        }
    }

    .catalog-price {
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
        color: $secondfontcolor;
        margin-top: 16px;
    }

    .image-wrapper {
        position: relative;
        display: flex;

        .sale {
            display: none;
        }
    }



    .add-to-cart-button {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 4px 4px 0px 0px;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        height: 65px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        opacity: 0;
    }

    .image-wrapper:hover button {
        opacity: 1;
    }

    .first-boxes-part {
        display: flex;
        flex-direction: row;
        gap: 54px;
        width: 100%;

        .lira-earings {
            display: flex;
            flex-direction: column;
            border-radius: 8px;

        }

        .hal-earings {
            display: flex;
            flex-direction: column;
            border-radius: 8px;

        }

        .kaede-hear-pin {
            display: flex;
            flex-direction: column;
            border-radius: 8px;

        }

    }

    .second-boxes-part {
        display: flex;
        flex-direction: row;
        gap: 54px;
        width: 100%;

        .hair-pin-set {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
        }

        .plaine-necklace {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
        }

        .yuki-set {
            display: flex;
            flex-direction: column;
            border-radius: 8px;

            .price {
                display: flex;
                flex-direction: row;
                gap: 8px;

                .price-visible {
                    display: none;
                }

                .sale-price {
                    display: none;
                }
            }

        }

        .kaede-hear-pin {
            display: none;
        }
    }
}

.footer-section {
    margin-top: 345px;

    .first-footer-line {
        width: 100%;
        border: 1px solid $line-color;
        margin-top: 253px;
    }

    .first-footer-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 53px;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: $fourthfontcolor;


        nav {
            display: flex;
            flex-direction: row;
            gap: 41px;

            .nav-link {
                color: $fourthfontcolor;
                text-decoration: none;
            }
        }

        .emailpart {
            display: flex;
            flex-direction: row;
            gap: 128px;

            button {
                width: 25px;
                border: none;
                background-color: transparent
            }
        }
    }

    .lineitem {
        width: 100%;
        border: 0.1px solid $firstfontcolor;
        margin-top: 7px;
        display: flex;
        position: relative;
        right: 0%;

    }

    .input-group-2 {
        display: none;

    }

    .second-footer-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 47px;

        .ended-part {
            display: flex;
            flex-direction: row;
        }

        .mobile-only {
            display: none;
        }

        .icons {
            display: flex;
            flex-direction: row;
            gap: 30px;

            button {
                border: none;
                background-color: transparent
            }
        }

        .text {
            display: flex;
            flex-direction: row;
            font-size: 16px;
            line-height: 27px;
            font-weight: 400;
            gap: 5px;

            nav {
                .nav-link {
                    color: $fourthfontcolor;
                    text-decoration: none;
                }
            }

            .textbold {
                font-weight: 500;
                color: $firstfontcolor;
            }

        }
    }

}

@media (max-width: 375px) {
    .container {
        max-width: 288px;

        header {
            margin-top: 15px;
            padding-top: 0;
            margin-bottom: 0;

            .headercontainer {

                .logo {
                    width: 99px;
                    height: 36px;
                }

                .linkline {
                    display: none;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 17px;

                    .mobile-only {
                        display: block;
                        background-color: transparent;
                        border: none;

                    }
                }
            }


        }
    }

    .hero-container {
        background: url('./assests/Img\ 01\ \(2\).png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 354px;
        margin-top: 16px;

        .hero-section {
            padding-left: 8px;
            padding-top: 235px;

            .about-section {
                font-size: 20px;
                line-height: 26px;
                padding-bottom: 3px;
                text-transform: capitalize;
            }

            .price {
                font-size: 14px;
                line-height: 22px;
                padding: 0;
            }

            button {
                width: 92px;
                height: 32px;
                border: 1px solid $thirdfontcolor;
                border-radius: 4px;
                font-weight: 400;
                font-size: 12px;
                margin-top: 10px;
            }
        }

        .sliders {
            gap: 6px;
            padding-top: 11px;
            padding-left: 121px;

            .ellipse-1 {
                width: 7px;
                height: 7px;
                border: 0.75px solid $thirdfontcolor;
            }

            .ellipse-2 {
                width: 4px;
                height: 4px;
            }
        }

        .input-group {
            display: flex;
            flex-direction: row;
            margin-top: 9px;
            width: 100%;
            height: 32px;
            gap: 8px;
            background: #EFEFEF;
            border-radius: 4px;
            padding-left: 10px;

            .mobile-only {
                display: block;
                border: none;
                outline: none;
                font-weight: 400;
                font-size: 14px;
                color: $fourthfontcolor;
                background-color: transparent;
            }

        }


    }

    .subhead {
        margin-top: 21px;
        font-weight: 400;

        .shoplatest {
            font-size: 16px;
            line-height: 27px;
        }

        nav {
            .nav-link {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    .catalog-section {
        margin-top: 13px;
        gap: 24px;

        .add-to-cart-button {
            width: 100%;
            font-size: 12px;
            height: 50px;
            font-weight: 400;
        }

        nav {
            margin-top: 6px;

            .catalog-element {
                font-size: 14px;
                line-height: 22px;
            }
        }
        .catalog-price {
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            margin-top: 4px;
        }

        img {
            height: 136px;
        }

        .image-wrapper {
            position: relative;

            .sale {
                display: flex;
                background-color: $secondfontcolor;
                border-radius: 4px;
                height: 22px;
                width: 42px;
                position: absolute;
                top: 4px;
                left: 4px;

                .text {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: $thirdfontcolor;
                    text-align: center;
                    margin-left: 8px;
                }
            }
        }

        .first-boxes-part {
            gap: 16px;

            .kaede-hear-pin {
                display: none;
            }


        }

        .second-boxes-part {
            gap: 16px;

            .plaine-necklace {
                display: none;
            }

            .yuki-set {
                .price {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    margin-top: 4px;

                    .catalog-price {
                        display: none;
                    }

                    .price-visible {
                        display: flex;
                        color: $secondfontcolor;
                    }

                    .sale-price {
                        display: flex;
                        color: red;
                        position: relative;

                        .line {
                            display: flex;
                            position: absolute;
                            width: 44px;
                            height: 0;
                            top: 10px;
                            border: 1px solid red;
                        }

                    }
                }
            }
        }
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 70px;

        .lineitem {
            width: 100%;
            left: 0;
            right: 0;
        }

        .input-group-2 {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 12px;
            line-height: 20px;
            margin-top: 16px;
        }

        .first-footer-line {
            display: none;
        }

        .first-footer-part {
            flex-direction: column-reverse;
            gap: 40px;
            margin-top: 92px;
            font-size: 12px;
            line-height: 20px;

            .emailpart {
                gap: 80px;

                button img {
                    width: 15px;
                }
            }

            nav {
                flex-direction: column;
                gap: 8px;
            }
        }

        .second-footer-part {
            flex-direction: column-reverse;
            font-size: 12px;
            line-height: 20px;

            .text {
                font-size: 12px;
                line-height: 20px;
                margin-top: 36px;
            }

            .mobile-only {
                display: flex;
            }

            .icons {
                gap: 16.33px;

                button img {
                    width: 12px;
                    height: 12px;
                }

            }

            .ended-part {
                width: 100%;
                justify-content: space-between;
                margin-top: 32px;
            }
        }

    }

}